<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button
          type="button"
          (click)="toggleSidebar()"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400"
        >
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a href="#" class="flex ml-2 md:mr-24 items-center">
          <img
            src="/assets/saketa-logo.svg"
            class="h-6 lg:h-10 mr-3 md:h-8"
            alt="Saketa Logo"
          />
          <div class="flex flex-col">
            <span
              class="text-xl font-semibold sm:text-2xl title-size whitespace-nowrap text-blue"
            >
              Employee Directory
            </span>
            <span class="text-black text-sm sm:text-md subtitle-size">
              The Ultimate People Directory Experience
            </span>
          </div>
        </a>
      </div>
      <div class="flex items-center text-base md:text-lg lg:text-xl">
        <h2 class="text-transparent sm:text-blue">
          Welcome,
          <span class="text-transparent sm:text-black font-medium pr-2">
            Andrew Philip
          </span>
        </h2>
        <img
          src="/assets/rohith huri.jfif"
          class="w-10 sm:w-14 rounded-full screen-img"
          alt="Profile Picture"
        />
      </div>
    </div>
  </div>
</nav>
<app-sidebar [sidebarOpen]="sidebarOpen"></app-sidebar>

<!-- Clear button
Filter - Sidebar - onFocus -->
